@import url('https://fonts.googleapis.com/css2?family=Acme&family=Quicksand&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/* Style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
/* Navbar */
nav {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 37px;
  background-color: #333333;
  color: white;
  position: fixed;
  font-size: 1rem;
}
label[for='input-checkbox'] {
  display: none;
}
input[id='input-checkbox'] {
  display: none;
}
.control-icon {
  float: left;
  font-size: 2rem;
  margin: 10px;
  position: relative;
}
#input-checkbox {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  opacity: 0;
}
#input-checkbox:checked + .show {
  display: block;
  z-index: 2;
}

.navbar-list {
  display: inline-block;
  height: 45px;
  width: 100px;
}
.navbar-link {
  display: inline-block;
  height: 45px;
  width: 100px;
  text-align: center;
  color: white;
  text-decoration: none;
  line-height: 45px;
  box-sizing: border-box;
}
.navbar-link:hover {
  background-color: #444444;
}
/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/showcase.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin: auto;
  color: white;
  font-family: 'Quicksand', sans-serif;
}
.container {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.header-container h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}
.header-container h3 {
  font-size: 1.9rem;
  margin-bottom: 3rem;
}
.header-container p {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 576px) {
  .header-container p {
    display: none;
  }
  nav {
    height: 45px;
    background-color: transparent;
  }
  .show {
    width: 100%;
    background-color: rgba(158, 158, 158, 0.938);
    display: none;
    animation: fadeIn linear 0.4s;
    color: white;
  }
  .show li {
    margin: 0 auto;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .navbar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99% !important ;
    height: 37px;
  }
  .navbar-link {
    width: 99%;
    line-height: 37px;
  }
  .navbar-link:hover {
    background-color: transparent;
    border: 2px solid #cecece;
  }
  .header-container h1 {
    font-size: 3rem;
  }
  .display-sm-none {
    display: none;
  }
  label[for='input-checkbox'] {
    display: block;
  }
  .gift {
    display: block !important ;
  }
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important ;
  }
}

/* main content */
main {
  background-color: #252529;
  width: 100%;
  color: white;
  height: auto;
}
.main-container__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Acme', sans-serif;
  padding-top: 30px;
  padding-bottom: 20px;
}

.main-container__title i {
  font-size: 2.5rem;
}
.main-container__title h1 {
  font-size: 3rem;
  margin-left: 1rem;
}
.main-container__note h3 {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}
.main-container__note p {
  font-size: 1.1rem;
  line-height: 1.6rem;
  padding-bottom: 30px;
}
.main-container__btn {
  border: 0;
  background-color: #b70415;
  color: white;
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  height: 3.7rem;
  width: 12rem;
  margin-bottom: 1.7rem;
}
.main-container__btn:hover {
  background-color: #c00013;
}
.main-container__note img {
  margin-top: 1.3rem;
  width: 80vw;
}
/* Gift card */
.gift {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  font-family: 'PT Sans', sans-serif;
}

.image img {
  width: 100%;
}
.info {
  text-align: left;
}
.info h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
}
.info p {
  padding-bottom: 1.2rem;
}
.info i {
  margin-top: 1rem;
}
.info a {
  text-decoration: none;
}
/* Footer */
footer {
  background-color: #252529;
  padding-bottom: 2rem;
}
.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  font-family: 'PT Sans', sans-serif;
}
.topic h3 {
  padding: 2rem 0 0.5rem 0;
  text-align: left;
  color: #fff;
  line-height: 2rem;
  font-weight: 100;
}
.hr-footer {
  border: 0.4px solid rgb(155, 155, 155);
  width: 90%;
  margin-bottom: 0.5rem;
}
.topic__item {
  list-style: none;
  text-align: left;
  font-size: 0.95rem;
}
.topic__item a {
  text-decoration: none;
  color: #aaa;
}
/* copyright */
.copyright {
  background-color: #333333;
  color: #fff;
  height: 8vh;
  line-height: 8vh;
  text-align: center;
  font-weight: 100;
}

